<button
    class="close-button"
    mat-icon-button
    aria-label="Закрыть панель"
    (click)="cancelLeafSetup()">
    <mat-icon>close</mat-icon>
</button>

<leaf-type-option [formControl]="leafTypeControl">
</leaf-type-option>

<filter-type-option
    *ngIf="isFilterTypeOptionShown$ | async"
    [filters]="filters"
    [formControl]="selectedFilterControl">
</filter-type-option>

<filter-value-option
    *ngIf="isFilterValueOptionShown$ | async"
    [selectedFilter]="selectedFilter$ | async"
    [filters]="filters"
    [formControl]="filterValueControl">
</filter-value-option>
